{
    "username": "",
    "password": "",

    "repos": [
        {
            "user": "xxx",
            "name": "xxx",
            "labels": "xxx",
            "command": "xxx",
            "confirm": null
        }
    ]
}
